body {
    background: #BDBDBD;
    margin: 0;
    font-family: 'Roboto', serif;
}

div {
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: auto;
}

header {
    background: white;
    padding: 10px;
}

.post {
    background: white;
    margin-top: 10px;
}

.post img {
    width: 100%;
}

.post h2, p {
    padding: 2px;
    margin: 0;
}

.post-header div:second-child {
    display: inline-block;
    width: 80%;
}

.post-header div:last-child {
    display: inline-block;
    width: 20%;
    padding: 5px;
    text-align: right;
    color: gray;
}

.icons {
    display: flex;
}

.post-header {
    display: flex;
}

.html-icon {
    width: 35px;
    height: 35px;
}

.post .likes {
    padding: 10px;
    margin: 0px;
  }

svg {
  padding-top: 10px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.bookmark {
  justify-content: flex-end;
  margin-right: 10px;
}