body {
    background: #BDBDBD;
    margin: 0;
    font-family: 'Roboto', serif;
}

div {
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: auto;
}

.container-text {
    margin: auto;
    padding: 6px;
}

header {
    background: white;
    padding: 10px;
}

.post {
    background: white;
    margin-top: 10px;
}

.post img {
    width: 100%;
}

.post h2, p {
    padding: 2px;
    margin: 0;
}

/* .post-header div:second-child {
    display: inline-block;
    width: 80%;
} */

/* .post-header div:last-child {
    display: inline-block;
    width: 20%;
    padding: 5px;
    text-align: right;
    color: gray;
} */

.icons {
    display: flex;
}

.post-header {
    display: flex;
}

.html-icon {
    width: 45px;
    height: 45px;
}

.post .likes {
    padding: 10px;
    margin: 0px;
  }

svg {
  padding-top: 10px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.bookmark {
  display: inline; 
  position: relative; 
  height: 30px; 
  width: 30px; 
  left: 68%;
}

.ellipsis {
    display: inline; 
    position: relative; 
    height: 30px; 
    width: 30px; 
    left: 66%;
}